<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/jquery.pagination.css">
    <link rel="stylesheet" href="/lib/animate.css">
</head>
<body>
    <!-- <%- include('./footer.ejs') %> -->
    <%- include('./header.ejs') %>
   <div class="container">
        
        <%  if(order.length <= 0){ %>
            <div class="alert alert-info" role="alert">订单空空如也，快去<a href="/list">选购</a>吧</div>
        <% } %>
        <ul class="list-group">
          
                <% order.forEach((item,i)=>{ %>
                   
                    <li class="list-group-item good-box" style='margin-bottom:15px;'>
                            <div>
                              
                               
                                <p> 订单时间: <span class="label label-primary"><%=item.formatTime%></span></p> 
                                <p> 下单人: <span class="label label-primary"><%=item.uname%></span></p>
                                <p> 下单人地址: <span class="label label-primary"><%=item.address%></span></p>
                                <ul class="list-group-item good-box">
                                    
                                        <% (item.list).forEach((it,j)=>{ %>
                                    <li >
                                         <p> 货物名称: <span data-id="<%=it.goodsID%>" class="label label-primary"><%=it.goodsName%></span> ，货物数量:<span class="label label-primary"><%=it.count%></span></p>
                                        </li>
                                        <% }) %>  
                                </ul>
                            </div>
                            <div class="row">
                              
                                <button data-id="<%=item._id%>"  class=" del btn btn-danger pull-right">删除</button>
                            </div>
                            
                        </li>
                <% }) %>  
            
            </ul>
   </div>




    <script src="/lib/jquery.js"></script>
    <script src="/lib/jquery-cookie.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script> 
    <script src="/javascripts/car.js"></script>
    <script>
     $('.del').click(function(){
        let u = getQueryString('u');
        
        let id = $(this).attr('data-id')
     
        $.ajax({
            url:'/orderView/'+u+'/'+id,
            type:'delete',
            dataType:'json',
           
            success:function(data){
                alert('删除成功')
                $(this).parents('.list-group-item').remove()
                window.location.reload()
            }
        })
     })
    function remove(){
       
    }
      function getQueryString(name) {  
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");  
        var r = window.location.search.substr(1).match(reg);  
        if (r != null) return decodeURI(r[2]);  
        return null;  
    }  
    
    </script>
    <script src="/javascripts/list.js"></script>
    <script src="/lib/jquery.pagination.js"></script>
    <script>
      // $("#Pagination").pagination(100, {
      //     callback: pageselectCallback,//PageCallback() 为翻页调用次函数。
      //     // items_per_page: , //每页的数据个数
      //     // num_display_entries: 3, //两侧首尾分页条目数
      //     // current_page: ,   //当前页码
      //     // num_edge_entries: 2, //连续分页主体部分分页条目数
      //     // link_to:""
      // });

      // function pageselectCallback(){
      //   console.log('get')
      // }
    </script>
</body>
</html>